<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts/ionicons.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel='icon' href="{{url_for('static',filename='favicon.ico')}}" type='image/x-icon'>
</head>

<body>
{% block navbar %}
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="/">SENTINUM</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/how-to-use">How To Use?</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Contact Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/Privacy-Policy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2>Contact Us</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="https://twitter.com/swapnanildutta1"><link rel='icon' href="{{url_for('static',filename='favicon.ico')}}" type='image/x-icon'>src="{{ url_for('static', filename='img/contactus/swapna.png')}}" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">SWAPNANIL DUTTA</a></h6>
                                <p class="text-muted card-text">swapnanildutta2000@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="{{ url_for('static', filename='img/contactus/swanmoy.jpg')}}" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">SWANMOY NAG</a></h6>
                                <p class="text-muted card-text">swanmoy.evilgenius@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="https://twitter.com/swarna6178"><img class="card-img-top scale-on-hover" src="{{ url_for('static', filename='img/contactus/swarna.jpg')}}" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">SWARNASEKHAR DUTTA</a></h6>
                                <p class="text-muted card-text">swarnasekhardutta@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="{{ url_for('static', filename='img/contactus/subhadip.jpeg')}}" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">SUBHADIP CHOWDHURY</a></h6>
                                <p class="text-muted card-text">subhadip.ssv@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="{{ url_for('static', filename='img/contactus/swagato.jpg')}}" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">SWAGATO PATRA</a></h6>
                                <p class="text-muted card-text">patraswagato@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="/about">About Us</a><a href="/contact">Contact Us</a></div>
            <div class="social-icons"><a href="https://www.facebook.com/"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/"><i class="icon ion-social-instagram-outline"></i></a><a href="https://twitter.com/explore"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{{url_for('static',filename='theme.js')}}"></script>
{% endblock %}
</body>

</html>